In [ ]:
1.SELECT ID FROM skills WHERE Technology IN ('DS', 'Tableau', 'Python', 'SQL') GROUP BY ID HAVING COUNT(DISTINCT Technology) = 4;

In [ ]:
2.SELECT pi.Pr_Id FROM Product_Info pi LEFT JOIN Product_Info_Likes pil ON pi.Pr_Id = pil.Pr_Id WHERE pil.Pr_Id IS NULL;